<section>
    <div class="home_category_container">
        <div class="home_category_back">
            <div class="home_category_item_container">

                <div class="home_category_item">
                    <div class="home_category_item_icon">
                        <img src="../../assets/Empresa-Inicio/Empresa-Category/category_01.png" alt="Imagem 01">
                    </div>

                    <div class="home_category_item_text">
                        <span>
                            <strong>Área com Piscina</strong>
                            <strong>Desfrute de momentos refrescantes e divertidos</strong>
                        </span>
                    </div>
                </div>

                <div class="home_category_item">
                    <div class="home_category_item_icon">
                        <img src="../../assets/Empresa-Inicio/Empresa-Category/category_02.png" alt="Imagem 02">
                    </div>
                    <div class="home_category_item_text">
                        <span>
                            <strong>Espaço para Festas</strong>
                            <strong>Espaço amplo e perfeito para sua festa, repleto de benefícios exclusivos</strong>
                        </span>
                    </div>
                </div>

                <div class="home_category_item">
                    <div class="home_category_item_icon">
                        <img src="../../assets/Empresa-Inicio/Empresa-Category/category_03.png" alt="Imagem 03">
                    </div>
                    <div class="home_category_item_text">
                        <span>
                            <strong>Decorações de Festas</strong>
                            <strong>Torne sua festa ainda mais especial com decorações personalizadas</strong>
                        </span>
                    </div>
                </div>

                <div class="home_category_item">
                    <div class="home_category_item_icon">
                        <img src="../../assets/Empresa-Inicio/Empresa-Category/category_04.png" alt="Imagem 04">
                    </div>
                    <div class="home_category_item_text">
                        <span>
                            <strong>Piscina Liberada</strong>
                            <strong>Desfrute da nossa piscina durante a semana, aberta ao público</strong>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>