<section>
    <div class="home_location_container">
        <div class="home_location_back">
            <div class="home_location_item_container">
                <div class="home_location_item">
                    <div class="home_location_item_title">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M302.8 312C334.9 271.9 408 174.6 408 120C408 53.7 354.3 0 288 0S168 53.7 168 120c0 54.6 73.1 151.9 105.2 192c7.7 9.6 22 9.6 29.6 0zM416 503l144.9-58c9.1-3.6 15.1-12.5 15.1-22.3V152c0-17-17.1-28.6-32.9-22.3l-116 46.4c-.5 1.2-1 2.5-1.5 3.7c-2.9 6.8-6.1 13.7-9.6 20.6V503zM15.1 187.3C6 191 0 199.8 0 209.6V480.4c0 17 17.1 28.6 32.9 22.3L160 451.8V200.4c-3.5-6.9-6.7-13.8-9.6-20.6c-5.6-13.2-10.4-27.4-12.8-41.5l-122.6 49zM384 255c-20.5 31.3-42.3 59.6-56.2 77c-20.5 25.6-59.1 25.6-79.6 0c-13.9-17.4-35.7-45.7-56.2-77V449.4l192 54.9V255z"/></svg>
                        <h1>Onde Estamos Localizados</h1>
                    </div>
                    <div class="home_location_item_map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14581.483683390756!2d-46.4483269!3d-23.9826756!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce1fc8c421fd8f%3A0x147657f72cc84f55!2sSal%C3%A3o%20de%20Festas%20Santana!5e0!3m2!1spt-BR!2sbr!4v1710965670368!5m2!1spt-BR!2sbr"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                    <div class="home_location_item_address_container">
                        <div class="home_location_item_address">
                            <span>Endereço</span>
                            <p>Rua Itabuna, 60 - Vila Pte. Nova, São Vicente - SP</p>
                        </div>
                        <div class="home_location_item_address">
                            <span>Ponto de Referência</span>
                            <p>Próximo a Lagoa do Quarentenario - Área Continental</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>