<section>
    <div class="home_benefits_container">
        <div class="home_benefits_back">
            <div class="home_benefits_item_container">
                <div class="home_benefits_item">
                    <div class="home_benefits_item_title">
                        <h1>No Salão Santana você conta com:</h1>
                    </div>
                    <div class="home_benefits_item_box_container">
                        <div class="home_benefits_item_box">
                            <div class="home_benefits_item_box_icon">
                                <img src="Empresa-Inicio/Empresa-Beneficios/beneficio_01.png"
                                    alt="Beneficio 01">
                            </div>
                            <div class="home_benefits_item_box_title">
                                <p>Câmeras de vigilância, monitoramento interno e externos 24 horas por dia</p>
                            </div>
                        </div>
                        <div class="home_benefits_item_box">
                            <div class="home_benefits_item_box_icon">
                                <img src="Empresa-Inicio/Empresa-Beneficios/beneficio_02.png"
                                    alt="Beneficio 02">
                            </div>
                            <div class="home_benefits_item_box_title">
                                <p>Navegue e compartilhe com tranquilidade, aproveitando nossa conexão estável e rápida
                                </p>
                            </div>
                        </div>
                        <div class="home_benefits_item_box">
                            <div class="home_benefits_item_box_icon">
                                <img src="Empresa-Inicio/Empresa-Beneficios/beneficio_03.png"
                                    alt="Beneficio 03">
                            </div>
                            <div class="home_benefits_item_box_title">
                                <p>Dê um toque de emoção à sua estadia com nossas mesas de jogos, relaxe e divirta-se
                                </p>
                            </div>
                        </div>

                        <div class="home_benefits_item_box">
                            <div class="home_benefits_item_box_icon">
                                <img src="Empresa-Inicio/Empresa-Beneficios/beneficio_04.png"
                                    alt="Beneficio 04">
                            </div>
                            <div class="home_benefits_item_box_title">
                                <p>Seus pequenos podem se divertir em nossa piscina infantil feita especialmente para
                                    eles</p>
                            </div>
                        </div>
                        <div class="home_benefits_item_box">
                            <div class="home_benefits_item_box_icon">
                                <img src="Empresa-Inicio/Empresa-Beneficios/beneficio_05.png"
                                    alt="Beneficio 05">
                            </div>
                            <div class="home_benefits_item_box_title">
                                <p>Surpreenda seus convidados projetando imagens e vídeos com nosso super projetor</p>
                            </div>
                        </div>
                        <div class="home_benefits_item_box">
                            <div class="home_benefits_item_box_icon">
                                <img src="Empresa-Inicio/Empresa-Beneficios/beneficio_06.png"
                                    alt="Beneficio 06">
                            </div>
                            <div class="home_benefits_item_box_title">
                                <p>Conte conosco a qualquer momento para oferecer suporte em todas as suas necessidades
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>