<section>
    <div class="home_space_container">
        <div class="home_space_back">
            <div class="home_space_item_container">
                <div class="home_space_item">
                    <div class="home_space_item_infos">
                        <div class="home_space_item_header">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                                <path
                                    d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z" />
                            </svg>
                            <h1>Conheça Nosso Espaço</h1>
                        </div>
                        <div class="home_space_item_header">
                            <p>Explore nosso salão de festas com um clique! Veja imagens e informações detalhadas sobre
                                nosso espaço. Clique na imagem para começar sua jornada ou escolha uma opção abaixo:</p>
                        </div>
                        <div class="home_space_item_header" style="display: none;">
                            <p>Explore nosso salão de festas com um clique! Clicando ao lado, você encontrará fotos e
                                informações detalhadas, desde valores e datas disponíveis até a profundidade das
                                piscinas e horários de funcionamento. Clique na imagem ao lado para começar a sua
                                jornada ou escolha uma opção abaixo.</p>
                        </div>
                        <div class="home_space_item_button">
                            <button>
                                Reservar
                            </button>
                            <button>
                                Detalhes
                            </button>
                        </div>
                    </div>
                    <div class="home_space_item_image">
                        <a title="Detalhes do Espaço" href="/">
                            <img src="Empresa-Inicio/Empresa-Salao/inicio-imagem_01.jpg"
                                alt="Imagem salão">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>