<section>
    <div class="home_about_container">
        <div class="home_about_back">
            <div class="home_about_item_container">
                <div class="home_about_item">
                    <div class="about_item_logo">
                        <img src="../../assets/Empresa-Inicio/Empresa-About/about_icon_01.png" alt="Icone Sobre Nós">
                    </div>
                    <div class="home_about_item_title">
                        <h1>Sobre o Salão Santana</h1>
                    </div>
                    <div class="home_about_item_title">
                        <span>Veja um breve Resumo do Nosso Salão de Festas</span>
                    </div>
                    <div class="home_about_item_description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae assumenda esse
                            consequuntur minima maxime rerum iste suscipit quos hic possimus dignissimos officiis rem,
                            dolorum neque cum, tenetur modi illum!</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae assumenda esse
                            consequuntur minima maxime rerum iste suscipit quos hic possimus dignissimos officiis rem,
                            dolorum neque cum, tenetur modi illum!</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae assumenda esse
                            consequuntur minima maxime rerum iste suscipit quos hic possimus dignissimos officiis rem,
                            dolorum neque cum, tenetur modi illum!</p>
                    </div>
                    <div class="home_about_item_button">
                        <button>Veja mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>